test/fixtures/reference/video.ts filter=lfs diff=lfs merge=lfs -text
test/fixtures/bundestag filter=lfs diff=lfs merge=lfs -text
test/fixtures/bundestag/all.ts filter=lfs diff=lfs merge=lfs -text
test/fixtures/bundestag/audio.ts filter=lfs diff=lfs merge=lfs -text
test/fixtures/bundestag/video.ts filter=lfs diff=lfs merge=lfs -text
test/fixtures/reference filter=lfs diff=lfs merge=lfs -text
test/fixtures/reference/all.ts filter=lfs diff=lfs merge=lfs -text
test/fixtures/reference/audio.ts filter=lfs diff=lfs merge=lfs -text
